/* project scale 0.3 */
/* @font-face {
	font-family: garuda;
	src:url(../media/fonts/Garuda-Bold.ttf);
}

@font-face {
	font-family: bayon;
	src:url(../media/fonts/Bayonregular.ttf); */
}
#player {
	visibility: hidden;
}

@font-face {
	font-family: futura;
	src:url(../media/fonts/FuturaStd-Bold.otf);
}

@font-face {
	font-family: noto;
	src:url(../media/fonts/Noto%20Sans%20CJK%20SC%20Black.otf);
}

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.rb {
	border-radius: 50%;
}

.wrapper {
	width: 860px;
	min-height: 200px;
	margin:0 auto;
	background-color: #6a3505;
}

.noto-26 {
	font: 9px noto;
}

.noto-32 {
	font: 10px noto;
}

.noto-36 {
	font: 12px noto;
}

.soft {
	transition: 0.3s ease;
}

/* =+=+=+=+=+= END OF COMMON PART =+=+=+=+=+=+=+=+=+= */
.b-bar {
	margin-top: 100px;
	width: inherit;
	height: 61px;
	background: url(../media/images/BG%20overall.png) 0px 0px no-repeat;
	-webkit-background-size:  860px 61px;
	background-size:  860px 61px;
}

.hint-bar {
	width: inherit;
	height: 13px;
}

.hint {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0px 155px 0 130px; 
	color: #ffea00;
	text-shadow: 0px 2px 1px #450005;
}

button {
	border: 0px;
	outline: 0px;
}
/* =+=+=+=+=+=+=+=+=+=+= START Info button =+=+=+=+=+=+=+=+=+=+= */
.info {
	width: 85px;
	min-height: 50px;
}

.info>.rb {
	margin: 6px 0px 0px 50px;
	padding: 0px;
	color: #410008;
	width: 33px;
	height: 33px;
	background: url(../media/images/info/bg%20copy%20normal.png) 0px 0px no-repeat;
	background-size: 33px;
	position: relative;
}

.info>.rb>.noto-36 {
	color: #440009;
	font-size: 19px;
	position: absolute;
	top: 2px;
	left: 13px;
	text-shadow: 0px 2px 2px #ffc600;
} 

.info>.rb:hover {
	background: url(../media/images/info/bg%20copy%20hover.png) 0px 0px no-repeat;
	background-size: 33px ;
}

.info>.rb:active {
	background: url(../media/images/info/bg%20copy%20click.png) 0px 0px no-repeat;
	background-size: 33px ;
}
/* =+=+=+=+=+=+=+=+=+=+= END Info button =+=+=+=+=+=+=+=+=+=+= */
/* =+=+=+=+=+=+=+=+= START Total bet panel =+=+=+=+=+=+=+=+=+= */
.total-bet {
	width: 135px;
	height: 50px;
	background: url(../media/images/Total%20bet/bg_field.png) 0px 5px no-repeat;
	background-size: 131px 33px;
}

.total-bet .rb {
	width: 29px;
	height: 27px;
	margin-top: 7px;
	background: url(../media/images/Total%20bet/Ellipse%20normal.png) 0px 0px no-repeat;
	background-size: 27px;
	position: relative;
} 

.mi {
	margin-left: 3px;
}

.pl {
	margin-right: 5px;
}

.pl-c {
	color: #440009;
	font: 28px noto;
	position: absolute;
	text-shadow: 0px 2px 2px #ffc600;
	bottom: -6px;
	left: 5px;	
}

.mi-c{
	width: 15px;
	height: 5px;
	border-radius: 2px;
	background-color: #430009;
	bottom: 0px;
	left: 3px;
	position: absolute;
	top: 11px;
	left: 6px;
	box-shadow: 0px 1px 2px #ffc600; 	
}

.total-bet .rb:hover {
	background: url(../media/images/Total%20bet/Ellipse%20hover.png) 0px 0px no-repeat;
	background-size: 27px;
}

.total-bet .rb:active {
	background: url(../media/images/Total%20bet/Ellipse%20click.png) 0px 0px no-repeat;
	background-size: 27px;
}

.total-bet .rb:active.mi {
	background: url(../media/images/Total%20bet/Ellipse%20click.png) 0px 0px no-repeat;
	background-size: 27px;
}

.bet-size {
	width: 67px;
	min-height: 30px;
	padding-top: 5px; 
}

.tb, 
.coin, 
.cash, 
.score {
	width: inherit;
	text-align: center;
	font: 10px noto;
	color: #ff6972;
	text-shadow: 0px 2px 2px #4e0005;
}

.tb, .coin {
	font: 10px noto;
	color: #ff6972;
	text-transform: uppercase;
}
/* =+=+=+=+=+=+=+=+= END Total bet panel =+=+=+=+=+=+=+=+=+= */
/* =+=+=+=+=+=+=+= START Central panel part =+=+=+=+=+=+=+=+= */
.cash, .score {
	font: 13px noto;
	color: #ffd100;
	line-height: 10px;
}

.center-part {
	width: 410px;
	margin: 0 auto;
	height: 50px;
	position: relative;
}

.treasure {
	width: 69px;
	height: 50px;
	background: url(../media/images/win/glow_field.png) 0px 5px no-repeat;
	background-size: 69px 120px;
}

.coin {
	margin-top: 5px;
}

.screen {
	width: 280px;
	height: 80px;
	position: absolute;
	background: url(../media/images/win/win%20bar.png) 0px 0px no-repeat;
	background-size: 275px 60px;
	top: -5px;
	left: 69px;
}

.gl, .summ {
	width: inherit;
	text-align: center;
	font: 30px noto;
	color: #ffe400;
	text-shadow: 0px 2px 2px #710008;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 55px;
}

.summ {
visibility: hidden;
}

.screen:hover .gl {
	display: none;
}

.screen:hover .summ {
	visibility: visible;
}
/* =+=+=+=+=+=+=+= START Turbo switch =+=+=+=+=+=+=+=+= */
input {
	display: none;
}

.sw {
	display: inline-block;
	width: 57px;
	height: 35px;
	margin: 5px 2px 0 0;
	background: url(../media/images/CheckBox/OFF/TURBO%20off%20normal.png) 0px 0px no-repeat;
	background-size: 57px 35px;
}

.sw:hover {
	background: url(../media/images/CheckBox/OFF/TURBO%20off%20hover.png) 0px 0px no-repeat;
	background-size: 57px 35px;
}

.sw:active {
	background: url(../media/images/CheckBox/OFF/TURBO%20off%20click.png) 0px 0px no-repeat;
	background-size: 57px 35px;
}

#turbo_1:checked ~ .sw {
	background: url(../media/images/CheckBox/ON/TURBO%20on%20normal.png) 0px 0px no-repeat;
	background-size: 57px 35px;
}

#turbo_1:checked ~ .sw:hover {
	background: url(../media/images/CheckBox/ON/TURBO%20on%20hover.png) 0px 0px no-repeat;
	background-size: 57px 35px;
}

#turbo_1:checked ~ .sw:focus {
	background: url(../media/images/CheckBox/ON/TURBO%20on%20click.png) 0px 0px no-repeat;
	background-size: 57px 35px;
}
/* =+=+=+=+=+=+=+= END Turbo  switch =+=+=+=+=+=+=+=+= */
/* =+=+=+=+=+= END START Central panel part =+=+=+=+= */
/* =+=+=+=+=+=+=+= START Right part =+=+=+=+=+=+=+=+= */
.rp {
	width: 225px;
	height: 50px;
	position: relative;
}
/* =+=+=+=+=+=+=+= START Spin button =+=+=+=+=+=+=+=+= */
.start {
	width: inherit;
}

.spinn-but {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 999;
	top: -28px;
	right: 44px;
	background: url(../media/images/Spin%20button/spin%20normal.png) 0px 0px no-repeat;
	background-size: 100px;
}

.spinn-but:hover {
	background: url(../media/images/Spin%20button/spin%20hover.png) 0px 0px no-repeat;
	background-size: 100px;
}

.spinn-but:active {
	background: url(../media/images/Spin%20button/spin%20click.png) 0px 0px no-repeat;
	background-size: 100px;
}
/* =+=+=+=+=+=+=+= END Spin button =+=+=+=+=+=+=+=+= */
/* =+=+=+=+=+=+= START Drop-menu  auto =+=+=+=+=+=+= */
.rc {
	width: 130px;
	height: 35px;
	margin: 5px 0 0 0;
	background: url(../media/images/Auto/auto_bg.png) 0px 0px no-repeat;
	background-size: 130px 35px;

	position: absolute;
	z-index: 2;
}


.rc:hover {
	background: url(../media/images/Auto/Button%20copy%20hover.png) 0px 0px no-repeat;
	background-size: 130px 35px;
}

.rc:active {
	background: url(../media/images/Auto/Button%20copy%20click.png) 0px 0px no-repeat;
	background-size: 130px 35px;
}

.play-mode {
	width: 100px;
	text-align: center;
	color: #3d0000;
	line-height: 25px;
	margin-top: 5px;
	text-transform: uppercase;
}

.dropIt {
	display: none;
	width: 130px;
	height: 130px;
	padding:5px 0px 5px 15px; 
	background: url(../media/images/Auto/spinselect_box_bg.png) 0px 0px no-repeat;
	background-size: 130px;
	
	position: absolute;
	bottom:0px;
	left: 0px;
	z-index: 1;
	
	color: #ffd100;
	list-style: none;
	text-transform: uppercase;
}

.dropIt li:first-child {
	padding-left: 20px;
	background: url(../media/images/Auto/fiture.png) 0px 0px no-repeat;
	background-size: 15px;
}

.dropIt li{
	line-height: 15px;
}

.dropIt li:hover{
	color: #fff;
}

.visible {
	display: inline-block;
}
/* =+=+=+=+=+=+= END  Drop-menu auto =+=+=+=+=+=+=+= */
/* =+=+=+=+=+=+=+= END Right  part =+=+=+=+=+=+=+=+= */